config/figura.json
config/emi.css
patchouli_data.json
config/emi.css
.vscode
crash-reports
emojiful
essential
fancymenu_data
figura
journeymap
kiwipacks
local
logs
modernfix
mods
patchouli_books
resourcepacks
saves
schematics
screenshots
shaderpacks
.qmenu_opened.marker
emi.json
minecraftinstance.json
observable_announce
options.txt
rhino.local.properties
.curseclient
user-prefs.json
usercache.json
usernamecache.json
estrogenconfig.zip
config/framedblocks-client.toml
config/oculus.properties
config/embeddium-options.json
config/sound_physics_remastered/allowed_sounds.properties
.gitignore
config/voicechat

